.header-navbar {
    background-color: rgba(33, 37, 41, .8); 
    box-shadow: 0px 6px 20px #3C6997; /* Ombre en bas */
    position: fixed;  
    top: 0;          
    right: 0;        
    width: 100%;      
    z-index: 999;  
    backdrop-filter: blur(6px);
    
}
.navbar-all {
  display: flex;
  justify-content: space-between; 
  padding: 0.5rem 3rem;
  color: #3C6997;
}
  
.navbar-left {
  font-size: 1.6rem;
  font-weight: bold;
  display: flex; 
  align-items: center;
  /* color: #3C6997(215, 35, 140);  */
}
  
.navbar-right ul {
  list-style-type: none;
  margin: 0.5rem; 
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}
  
.navbar-right ul li a {
  text-decoration: none;
  color: white;
}
    
.item-all {
  display: flex; 
  align-items: center; 
}

.item-all :hover {
  color: #3C6997; 
}

.item-contact {
  background-color: #3C6997; 
  border-radius: 10px; 
  padding: 10px 15px; 
}

@media screen and (max-width: 768px) {
  
    .navbar-left {
      margin-top: 1rem;
      margin-left: 5rem;
    }

    .navbar-right {
        display: none;
    }
  
    /* .navbar-right ul {
      flex-direction: row; 
      gap: 1rem; 
    } */
  
  
  }


  
