.header-navbar {
    background-color: rgba(33, 37, 41, .8); 
    box-shadow: 0px 6px 20px #3C6997;
    position: fixed;  
    top: 0;          
    right: 0;        
    width: 100%;      
    z-index: 999;  
    backdrop-filter: blur(6px);
    
}
.navbar-all {
  display: flex;
  justify-content: space-between; 
  padding: 0.5rem 3rem;
  color: #3C6997;
}
  
.navbar-left {
  font-size: 1.6rem;
  font-weight: bold;
  display: flex; 
  align-items: center;
}
  
.navbar-right ul {
  list-style-type: none;
  margin: 0.5rem; 
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}
  
.navbar-right ul li a {
  text-decoration: none;
  color: white;
}
    
.item-all {
  display: flex; 
  align-items: center; 
}

.item-all :hover {
  color: #3C6997; 
}

.item-cv {
  background-color: #3C6997; 
  border-radius: 10px; 
  padding: 10px 15px; 
}

@media screen and (max-width: 768px) {
  
    .navbar-left {
      margin-left: 5vw;
    }

    .item-all {
      display: none;
    }

}
    

@media (max-width: 480px) {
    .navbar-left {
    margin-left: 0;
    font-size: 4.5vw;
    }
}
  


  
